/** CSS styles */

.game-title {
    color: darkgray;
    font-family: Impact, Charcoal, sans-serif;
    font-style: oblique;
    font-size: 70px;
    text-align: center;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: darkgrey;
  border: none;
  margin-top: 30%;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}
#buttonStart {
 margin: 200px 0px 10px 450px;/*top right bottom left*/
}


#startEarth
{  
  margin-top: 4%;
  margin-left: 40%;
  margin-right: 20%;
  width: 250px;
  height: 250px;
  background: url('../img/2.jpg');
  border-radius: 50%;
  background-size: 500px;
  box-shadow: inset 16px 0 40px 6px rgb(0, 0, 0),
  inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
  animation-name: rotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  position: absolute;
  z-index: -1;
 
 
}



body 
{
  background: url('../img/3.jpg');
  background-size: 1000px;
}

.points 
{
  text-align: center;
  font: 300% 'Trebuchet MS', cursive;
  color: #fff;
  text-shadow: 
    0 0 10px #fff, 
    0 0 30px #fff, 
    0 0 50px #e3e98e, 
    0 0 70px #e3e98e,
    0 0 90px #e3e98e;
}

.button-to-buy
{
    width: 250px;
    height: 50px;
    cursor: pointer;
    margin-top: 10%;
}

.img-overlay 
{
    position: relative;
    max-width: 250px; 
    z-index: inherit;
}

#inventory
{
      margin-left: 11.5%;
    margin-bottom: 12.5%;
}



button:focus {outline:0;}
#clicker 
{
  background: url(../img/1.png);
    margin-top: 9%;
    margin-left: 15%;
    margin-right: 50%;
    height: 330px;
    width: 330px;
    background-size: 340px;
    border: none;
    background-repeat: no-repeat;
  
}
#clicker:hover{
    transform: scale(1.2);
}
#clicker:active{
    transform: scale(0.95);
   
}


#pollution
{  
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  width: 250px;
  height: 250px;
  background: url('../img/2.jpg');
  border-radius: 50%;
  background-size: 500px;
  box-shadow: inset 16px 0 40px 6px rgb(0, 0, 0),
  inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
  animation-name: rotate;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  position: absolute;
  z-index: -1;
 
 
}


.btn-outline 
{
    background-color: transparent;
    color: inherit;
    border-color: inherit;
    transition: all .5s;
}


.btn-blue.btn-outline 
{
    color: #428bca;
    border-color: #428bca;
}
.btn-blue.btn-outline:hover
{
    color: #fff;
    background-color: #428bca;
}

.btn-green.btn-outline 
{
    color: #5cb85c;
    border-color: #5cb85c;
}
.btn-green.btn-outline:hover
{
    color: #fff;
    background-color: #5cb85c;
}

.btn-orange.btn-outline 
{
    color: #f0ad4e;
    border-color: #f0ad4e;
}
.btn-orange.btn-outline:hover
{
    color: #fff;
    background-color: #f0ad4e;
}

.btn-red.btn-outline
{
    color: #d9534f;
    border-color: #d9534f;
}
.btn-red.btn-outline:hover
{
    color: #fff;
    background-color: #d9534f;
}

.btn-purp.btn-outline 
{
    color: #bc37e3;
    border-color: #bc37e3;
}
.btn-purp.btn-outline:hover
{
    color: #fff;
    background-color: #bc37e3;
}

.btn-yellow.btn-outline 
{
    color: #ede12e;
    border-color: #ede12e;
}
.btn-yellow.btn-outline:hover
{
    color: #fff;
    background-color: #ede12e;
}

@keyframes rotate 
{
  from { background-position-x: 0px; }
  to { background-position-x: 500px; }
}

.scroll
{
  font-size: 18px;
  width: 100%;
  overflow: hidden;
  color: red;
  margin-bottom: 20px;
}   


#listStyle
{
    color:#E7E8D2;
    font-size: 13px;
}
#mustearn
{
    color:#E7E8D2;
    font-size: 13px;
}

#bottomHeaders
{
    margin-bottom: 1%;
    font-size: 20px;
    color: #fff;
    font: 'Trebuchet MS', cursive;
    text-shadow: 
    0 0 10px #fff, 
    0 0 30px #fff, 
    0 0 50px #e3e98e, 
    0 0 70px #e3e98e,
    0 0 90px #e3e98e;   
}
a[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
a[data-tooltip]:before,
a[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position t */
a[data-tooltip]:before {
  position: absolute;
  bottom: -300%;
  right: 110%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  height: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: lightgoldenrodyellow;
  color: black;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
a[data-tooltip]:after {
  position: absolute;
  bottom: -230%;
  left: -15%;
  margin-left: -5px;
  width: 0;
  border-top: 15px solid #000;
  border-top: 15px solid lightgoldenrodyellow;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
a[data-tooltip]:hover:before,
a[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}



a[data-tooltip][data-placement="right"]:before {
  position: absolute;
  bottom: -300%;
  left: 144%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  height: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: lightgoldenrodyellow;
  color: black;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
a[data-tooltip][data-placement="right"]:after {
  position: absolute;
  bottom: -230%;
  left: 109%;
  margin-left: -5px;
  width: 0;
  border-top: 15px solid #000;
  border-top: 15px solid lightgoldenrodyellow;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}


a[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
a[data-tooltip]:before,
a[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position t */
a[data-tooltip]:before {
  position: absolute;
  bottom: -300%;
  right: 110%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  height: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: lightgoldenrodyellow;
  color: black;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
a[data-tooltip]:after {
  position: absolute;
  bottom: -230%;
  left: -15%;
  margin-left: -5px;
  width: 0;
  border-top: 15px solid #000;
  border-top: 15px solid lightgoldenrodyellow;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
a[data-tooltip]:hover:before,
a[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}



a[data-tooltip][data-placement="right"]:before {
  position: absolute;
  bottom: -300%;
  left: 144%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  height: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: lightgoldenrodyellow;
  color: black;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
a[data-tooltip][data-placement="right"]:after {
  position: absolute;
  bottom: -230%;
  left: 109%;
  margin-left: -5px;
  width: 0;
  border-top: 15px solid #000;
  border-top: 15px solid lightgoldenrodyellow;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
#speech {
  font: 110% 'Trebuchet MS', cursive;
  position: relative;
  top: -10px;
  left: 300px;
  width: 300px;
  height: 60px;
  text-align:center;
  line-height: 50px;
  background-color: lightgoldenrodyellow;
  border: 5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

#speech:after {
  content:"";
  position:absolute;
  bottom:-30px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:lightgoldenrodyellow transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
#speech:after {
  top:-20px; /* value = - border-top-width - border-bottom-width */
  right:50px; /* controls horizontal position */
  bottom:auto;
  left:auto;
  border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
  border-color:transparent lightgoldenrodyellow;
}

/* creates the smaller triangle */
#speech:after {
  top:30px;
  left:-30px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
  border-color:transparent lightgoldenrodyellow;
}

#speech2 {
  font: 110% 'Trebuchet MS', cursive;
 visibility:hidden;
  position: relative;
  top: 70px;
  left: 380px;
  width: 150px;
  height: 60px;
  text-align: center;
  line-height: 40px;
  background-color: lightgoldenrodyellow;
  border: 5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

#speech2:after {
  content:"";
  position:absolute;
  bottom:-30px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:lightgoldenrodyellow transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
#speech2:after {
  top:-20px; /* value = - border-top-width - border-bottom-width */
  right:50px; /* controls horizontal position */
  bottom:auto;
  left:auto;
  border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
  border-color:transparent lightgoldenrodyellow;
}

/* creates the smaller triangle */
#speech2:after {
  top:30px;
  left:-30px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
  border-color:transparent lightgoldenrodyellow;
}


.popups {
    visibility: hidden;
}

.popups .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


#prize1 {
 
    margin: auto auto;
    right: 50%;
    width: 500px;
    height: 70px;
    text-align:center;
    border-radius: 6px;
    background-color: darkslategray;
    opacity: .80;
    font: 150% 'Trebuchet MS', cursive;
    color: #fff;
     word-wrap: break-word;
    text-shadow: 
    0 0 10px #fff, 
    0 0 30px #fff, 
    0 0 50px #e3e98e, 
    0 0 70px #e3e98e,
    0 0 90px #e3e98e;

     
}


.images {
    margin-top: auto;
    margin-right: 6.6%;
    width: 50px;
    height: 50px;
    background: no-repeat;
    background-size: 100%;
    border-radius: 6px;
    position: relative;

}


