/** CSS styles */
.game-title {
  color: red;
}

.earth {
  width:100px;
  height:100px;
  background:skyblue;
  border-radius:50%;
  margin:0px auto;
  position:relative;
  cursor:pointer;
  margin-top:50px;
}

.button {
    padding: 10px 20px;
    border-radius: 4px;
    color: black;
    opacity: .5;
    position: relative;
}